.projects {
  background: black; 
  padding: 50px;
  color: #fff;
}
.project {
  display: flex;
  align-items: center; 
  margin: 20px 0; 
}
.project-info {
  flex: 1; 
  padding: 20px; 
}
.project-image {
  width: 390px; 
  height: 210px; 
  border-radius: 10px;
  background-size: cover; 
  background-position: center;
  box-shadow: 0 0 20px rgb(247, 248, 246), 0 0 30px rgb(34, 20, 233); 
}
.project-image-srm {
  background-image: url('../../assets/project1.JPG'); 
}
.project-image-url-shortener {
  background-image: url('../../assets/project2.jpg'); 
}
.project-image-take-you-forward {
  background-image: url('../../assets/project3.JPG'); 
}
.left {
  flex-direction: row; 
}
.right {
  flex-direction: row-reverse; 
}
.heading{
  font-size: 2rem;
}
.project-link {
  text-decoration: none; 
  color: inherit; 
}
.arrow {
  margin-left: 5px; 
  vertical-align: middle; 
}

@media (max-width: 480px) {
  .project {
    flex-direction: column; 
  }
  .project-image {
    width: 100%; 
    height: auto; 
  }
}

@media (max-width: 768px) {
  .project {
    flex-direction: row; 
    margin: 15px 0; 
  }
  .project-image {
    width: 350px; 
    height: auto; 
  }
}
