.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #000000; 
    color: white; 
    padding: 20px 20px;
    z-index: 1000; 
}
html {
    scroll-behavior: smooth; 
}
.content {
    padding-top: 100px; 
    padding-bottom: 50px; 
}
.navbar ul {
    list-style: none; 
    display: flex; 
    justify-content: center;
    gap: 50px;
    margin: 0; 
    padding: 0; 
}
.navbar li {
    margin: 0 15px; 
}
.navbar a {
    color: white; 
    text-decoration: none; 
    font-weight: bold; 
    font-size: 18px;
}
.navbar a:hover {
    text-decoration: underline;
}

@media (max-width: 480px) {
    .navbar {
      padding: 15px; 
    }
    .navbar ul {
      flex-direction: column; 
      gap: 20px; 
    }
    .navbar a {
      font-size: 16px; 
    }
  }
  
  @media (max-width: 768px) {
    .navbar {
      padding: 20px;
    }
  
    .navbar ul {
      gap: 30px; 
    }
  
    .navbar a {
      font-size: 17px;
    }
  }
  