@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

@media (max-width: 480px) {
  .navbar {
    padding: 10px; 
    flex-direction: column; 
  }
  .navbar ul {
    flex-direction: column;
    gap: 20px; 
  }
  .tagline {
    flex-direction: column; 
    padding: 20px; 
  }
  .tagline-image {
    width: 300px;
    height: 300px;
    margin-top: 20px;
  }
  .about {
    flex-direction: column; 
    padding: 20px; 
  }
  .about-image {
    width: 100%; 
    height: auto; 
  }
  .skills-container {
    flex-direction: column; 
    align-items: center;
  }
  .project {
    flex-direction: column; 
  }
  .project-image {
    width: 100%; 
    height: auto;
  }
  .contact form {
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 15px; 
  }
  .tagline {
    padding: 40px; 
  }
  .tagline-image {
    width: 350px; 
    height: 350px; 
  }
  .about {
    padding: 30px; 
  }
  .about-image {
    width: 80%; 
    height: auto; 
  }
  .skills-container {
    flex-direction: row; 
    justify-content: space-around; 
  }
  .project {
    flex-direction: row;
    margin: 15px 0; 
  }
  .project-image {
    width: 350px; 
    height: auto; 
  }
}
